<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN">  
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en">  
    <head> 
    	<link rel="stylesheet" type="text/css" href="/css/base/base2014.css" charset="utf-8"/>
    	<script type="text/javascript" src="/js/jquery/jquery-1.11.js"></script>   
    </head>  
    <body class="bodyArea">  
        <div class="headerArea">#parse('/common/header.vm')</div> 
        <div class="mainArea">
        	$screen_content
        </div>
        <div class="footerArea">#parse('/common/footer.vm')</div>  
    </body>  
</html>